<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://teamdigitalweb.com.co">
                        Team Digital Web
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, hecho con amor por 
            <a href="https://teamdigitalweb.com.co" target="_blank">Team Digital Web</a> para una mejor web.
        </div>
    </div>
</footer>
